.componentMedium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: rgb(28,28,28);
    width: 14%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    img{
        height: 90%;
        width: 90%;
        border-radius: 5px;
        margin-top: 7px;
    }
    .component__text{
        width: 90%;
        .item__title{
            margin-top: 20px;
            color: white;
            font-weight: 500;
            font-size: 16px;
            overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
        }
        .item__publication{
            margin-top: 10px;
            margin-bottom: 20px;
            color: rgb(138, 138, 138);
            font-size: 14px;
            font-weight: 500;
        }
    }
    &:hover{
        background-color:  rgb(47, 47, 47);
        transition: 0.4s;
    }
    &:not(:hover){
        transition: 0.4s;
    }
}