.main{
    background: rgb(32,23,62);
    background: linear-gradient(180deg, rgba(32,23,62,1) 0%, rgba(18,18,18,1) 46%);
    height: fit-content;
    flex: 12;

    .main__container{
        margin: 30px;
        margin-top: 15px;
        .top__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left__box{
                .navigation__iconContainer{
                    color: rgb(175, 175, 175);
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                    .icons{
                        font-size: 35px;
                        border-radius: 100%;
                        background-color: rgba(16, 16, 16, 0.395);
                        padding: 0 9px;
                        cursor: not-allowed;
                    }
                }
            }
            .right__box{
                .user__badge{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: rgba(0, 0, 0, 0.56);
                    border-radius: 20px;
                    padding: 1px 10px;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    .profile__pic{
                        height: 20px;
                        width: 20px;
                        border-radius: 100%;
                        background-color: white;
                    }
                    .user__name{
                        color: white;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    
                    .icon{
                        color: white;
                        font-size: 30px;
                        cursor: pointer;
                    }
                    &:hover{
                        background-color: rgb(41, 41, 41);
                    }
                    &:not(:hover){
                        transition: 0.3s;
                    }
                }
            }
        }
        .middle__container{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            

            .greeting__message{
                color: white;
                font-size: 35px;
                font-weight: 700;
                font-family: 'Raleway', sans-serif;
                margin-bottom: 30px;
            }
            .items__container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
            }
        }

        .bottom__container{
            
        }

        .gap__container{
            height: 500px;
            width: 100%;
        }
    }
}