    @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
        // For Google Chrome
        &::-webkit-scrollbar {
            width: $size;
            height: $size;
        }
        &::-webkit-scrollbar-thumb {
            background: $foreground-color;
        }
        &::-webkit-scrollbar-track {
            background: $background-color;
        }
    }
    
    .sideBar {
        display: flex;
        flex-direction: column;
        flex: 2;
        width: 240px;
        height: 98vh;
        background-color: black;
        padding-left: 20px;
        padding-top: 10px;
        position: sticky;
        top: 0;
        .navOpt {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 10px;
            img {
                width: 60%;
                margin-left: 3px;
                margin-top: 12px;
                margin-bottom: 10px;
            }
            .withGap {
                margin-top: 20px;
            }
            .bottomItem {
                padding-bottom: 20px;
                width: 90%;
                border-bottom: 0.2px solid rgb(107, 107, 107);
            }
            .navItems {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-right: 20px;
                .navIcon {
                    font-size: 30px;
                    color: rgb(194, 194, 194);
                }
                .navText {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgb(194, 194, 194);
                    cursor: pointer;
                    &:hover {
                        color: white;
                        transition: 0.4s;
                    }
                    &:not(:hover) {
                        color: rgb(194, 194, 194);
                        transition: 0.4s;
                    }
                }
            }
        }
        .trendPlaylist {
            height: 40vh;
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow: auto;
            @include scrollbars(10px, grey, black);
            .trendItem {
                cursor: pointer;
                color: rgb(183, 183, 183);
                font-size: 15px;
                font-weight: 500;
                padding: 5px;
            }
        }
    }