.loadingMain{
    flex: 12;
    height: 90vh;
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}